---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import MovieCardsList from "../components/MovieCardsList.svelte";
import NavBar from "../components/NavBar.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Movie Watchlist">
    <NavBar
        title="Find your "
        highlight="film"
        href="/watchlist"
        hrefLabel="My Watchlist"
    />
    <SearchBar />
    <main>
        <MovieCardsList client:load></MovieCardsList>
    </main>
</Layout>

<style>
    main {
        margin: 2em auto;
        align-self: center;
        width: 900px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
