---
export const prerender = false;
---

<div class="search-container">
    <div class="search-bar">
        <img src="/search-icon.svg" />
        <input type="text" placeholder="Search by title" />
    </div>
    <button class="search-button">Search</button>
</div>

<script>
    import { atom } from "nanostores";

    export const $movieData = atom(null);

    const input = document.querySelector<HTMLInputElement>("input");
    const button = document.querySelector<HTMLButtonElement>("button");

    if (button && input) {
        button.addEventListener("click", async () => {
            const searchTerm: string = input.value
                .toLowerCase()
                .replace(" ", "+");

            const res = await fetch(
                `https://www.omdbapi.com/?t=${searchTerm}&apikey=4c3e0385`
            );
            const data = await res.json();

            $movieData.set(data);
        });
    }
</script>

<style>
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 0.5em;
        top: 16em;
        margin: 0 40vw;
        width: 45%;
        max-width: 900px;
        user-select: none;
    }

    .search-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 3em;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(19, 21, 26, 76%),
            rgba(18, 18, 18, 33%)
        );
        width: 100%;
        max-width: 650px;
        border-radius: 8px;
    }

    .search-bar img {
        margin-left: 1em;
    }

    .search-bar input {
        background: none;
        border: none;
        color: rgb(var(--accent-light));
        font-size: medium;
        width: 85%;
        max-height: 10vh;
        margin-left: 1em;
    }

    .search-bar input::placeholder {
        color: rgba(255, 255, 255, 70%);
    }

    .search-bar input:focus {
        outline: none;
    }

    .search-container .search-button {
        font-weight: bold;
        min-height: 20%;
        background: rgba(var(--accent-dark), 70%);
        color: rgb(var(--accent-light));
        border: 1px solid rgba(var(--accent-light), 25%);
        border-radius: 10px;
        padding: 1.25em 5em;
        cursor: pointer;
    }

    @media screen and (hover: hover) {
        .search-button:hover {
            transition: background-color 0.25s;
            background-color: rgba(var(--accent-light), 25%);
        }
    }

    .search-button:active {
        transform: scale(0.9);
    }
</style>
